<div class="gft-component">
    <div *ngIf="!cashRegister && !pairWise">
        <h1>GFT Test</h1>
        <span>Select a mode:</span>
        <div>
            <button (click)="openCashRegister()">Cash Register</button>
            <button (click)="openPairWise()">Pair Wise</button>
        </div>
    </div>  
    <div *ngIf="cashRegister || pairWise">
        <button (click)="backToModeSelection()">Back to Mode Selection</button>
    </div>
    <gft-cash-register *ngIf="cashRegister"></gft-cash-register>
    <gft-pair-wise *ngIf="pairWise"></gft-pair-wise>
</div>