.cash-register-component {
    tr, td {
        text-align: center;
    }

    .amount-input {
        width: 80px;
    }

    .bold {
    	font-weight: bold;
    }

    .section {
    	padding: 10px;
    }
}