<div class="cash-register-component">
    <h1 class="section">Cash Register</h1>    
    <div *ngIf="mode <= 1">

        <div *ngIf="mode == 1" class="section bold">Initial Cash: ${{initialCash}}</div>
        <div *ngIf="mode == 1" class="section bold">Sold Amount: ${{soldAmount}}</div>

        <div class="section">
            <span *ngIf="mode == 0" class="bold">Enter Initial Cash Balance:</span>
            <span *ngIf="mode == 1" class="bold">Cash Balance:</span>
        </div>

        <div class="section table">
            <table>         
                <tr>
                    <th>Denomination</th>
                    <th>Amount</th>
                    <th>Value</th>
                </tr>
                <tr *ngFor="let denomination of cash">
                    <td>{{denomination.label}} (${{denomination.value}}) </td>
                    <td><input type="number" class="amount-input" onkeypress="return event.charCode >= 48" min="0" [(ngModel)]="denomination.amount" (ngModelChange)="updateTotal()" [disabled]="mode == 1"/></td>
                    <td>${{denomination.amount*denomination.value}}</td> 
                </tr>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>${{total}}</th>
                </tr>
            </table>
        </div>
        
        <div *ngIf="mode == 1" class="section">
            <button (click)="mode = 2">Back to Payment</button>
            <button (click)="reset()">Reset</button>
        </div>

        <div *ngIf="mode == 0" class="section">
            <button (click)="setInitialCash()">Confirm</button>
        </div>
    </div>

    <div *ngIf="mode == 2">
        <div class="section bold">
            <span>Price: $</span>
            <input type="number" name="price" [(ngModel)]="price" [disabled]="paymentMessage" onkeypress="return (event.charCode >= 48 || event.charCode == 46)" min="0"/>
        </div>
        <div class="section">
            <span class="bold">Cash Payment:</span>
        </div>
        <div class="section table">
            <table>         
                <tr>
                    <th>Denomination</th>
                    <th>Amount</th>
                    <th>Value</th>
                </tr>
                <tr *ngFor="let denomination of paymentCash">
                    <td>{{denomination.label}} (${{denomination.value}}) </td>
                    <td><input type="number" [disabled]="paymentMessage" class="amount-input" [(ngModel)]="denomination.amount" (ngModelChange)="updatePaymentTotal()" onkeypress="return event.charCode >= 48" min="0"/></td>
                    <td>${{denomination.amount*denomination.value}}</td> 
                </tr>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>${{paymentTotal}}</th>
                </tr>
            </table>
        </div>
        <div class="section">
            <button (click)="makePayment()" *ngIf="!paymentMessage">Make Payment</button>
            <button (click)="showCurrentCashBalance()" *ngIf="!paymentMessage">Current Cash Balance</button>
        </div>
        <div class="section bold" *ngIf="paymentMessage">
            <span>{{paymentMessage}}</span>
        </div>
        <div class="section" *ngIf="paymentMessage">
            <button (click)="confirmPayment()">OK</button>
        </div>
    </div>

</div>